<center>
<h1>Olympus Mountain Public Library :: Employee Page</h1>
</center>
<br>
<form action="/" methods="post">
  <label for="book">Add a new book here:</label>
  <input id="title" name="author" class="form-control" type="text" placeholder="Add the book's title here.">
  <br>
  <input id="author" name="author" class="form-control" type="text" placeholder="Add the books author here.">
  <button type="submit">Add Book</button>
</form>
