<center>
<h1>Mount Olympus Public Library :: Employee Page</h1>
</center>
<br>
<h3>Add a new book here:</h3>
<form action="/" method="post">
  <label for="title">Book title:</label>
  <input id="title" name="title" class="form-control" type="text" placeholder="Type book title here.">
  <label for="author">Book author:</label>
  <input id="author" name="author" class="form-control" type="text" placeholder="Type book author here.">
  <button type="submit">Add Book</button>
</form>
<br>
<br>
<p align="right"><a href="/patrons">View Patron List</a></p>
