<h1>The patron has been successfully added!</h1>
<br>
<br>
<a href="/patrons">Go back to the patron list</a>
<br>
<a href="/employee">Go back to the employee page</a>
<br>
<a href="/">Go to home page</a>
